/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    background-color: #548687;
    text-align: center;
}

/* Container styles */
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game grid styles */
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin; /* Gap between game grid buttons */
}

/* Individual button styles */
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

/* Reset button styles */
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

/* New game button styles */
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

/* Message text styles */
#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

/* Message container styles */
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem; /* Gap between message container children */
}

/* Hide class to hide elements */
.hide {
    display: none;
}
